@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Encode Sans", sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2%  1px 1px;
}
.imagen{
    grid-column: span 4;
    text-align: center;
    img{
    position: relative;
    border-radius: 10%;
    width:70%;
    }
    a{
        position: absolute;
        color: #000;
        background-color:#ffffff;
        border: none;
        border-radius: 50%;
        margin-left: -66%;
        margin-top: 5%;
        box-shadow: 0 1px 5px #e5e3e3;
    }
    svg{
        position: absolute;
        background-color:#ffffff;
        border: none;
        border-radius: 50%;
        margin-left: -15%;
        margin-top: 5%;
        padding: 10px;
        box-shadow: 0 1px 5px #e5e3e3;
    }
}
.info{
    grid-column: span 3;
    text-align: center;
    h3{
        font-size: 28px;
    }
    .star{
        font-size: 15px;
        margin-left: -2%;
        span{
            color: #0497f7 ;
        }
    }
    .descripción {
        text-align: justify;
        margin-left: 22%;
        width: 100%;
        font-size: 14px;
        color: #a5a3a3;
        position: relative;
      }
      span{
        color: black;
      }
      #toggle-text {
        display: none;
      }
      .texto {
        display: block;
        cursor: pointer;
        overflow: hidden;
        height: 50px;
        transition: height 0.4s ease;
      }
      .mas {
        display: none;
      }
      #toggle-text:checked + .texto {
        height: auto;
      }
      #toggle-text:checked + .texto .mas {
        display: inline;
      }
      #toggle-text:checked + .texto .read-more {
        display: none;
      }
    .tallas{
      margin-top: 5%;
      margin-left: -30%;
      font-size: 14px ;
      .talla{
        border: #000 solid 1px;
        border-radius: 40px;
        display: inline-block;
        width: 5%;
        margin-left: 1px;
      }
      .talla:hover{
            background-color: #000;
            color:#ffffff ;
      }
    }
    .color{
        margin-left: 75%;
        margin-top: -12%;
        font-size: 14px ;
       p{
        margin-left: -25%;
       } 
    }
        
}
.cantidad{
    position: absolute;
    margin-left: 67%;
    margin-top: 100%;
    display: flex;
    align-items: center;
}
.comprar{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #000;
    width: 70%;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    text-decoration: none;
    p{
        margin-left: 10px;
    }
}
@media (min-width: 1024px){
    .imagen{
        grid-column: span 2;
        text-align: center;
        img{
        width:50%;
        }
        a{
            margin-left: -23%;
            margin-top: 1%;
        }
        svg{
            margin-left: -5%;
            margin-top: 1%;
        }
    }
    .info{
        grid-column: 2 / 4;
        text-align: center;
        margin-left: 10%;
        margin-top: -60%;
        h3{
            font-size: 50px;
        }
        .star{
            margin-top: 2%;
            margin-left: -6%;
            font-size: 25px;
        }
        .descripción {
            margin-top: 2%;
            margin-left: 29%;
            font-size: 20px;
          }
          .texto {
            height: 100px;
         }
         .tallas{
            margin-top: 0;
            margin-left: -18%;
            font-size: 20px;
            strong{
                margin-left: -7%;
            }
         }
         .color{
            margin-left: 96%;
            margin-top: -30%;
            font-size: 20px ;
            svg{
                height: 120%;
                width: 120%;
            }
        }
    }
    .cantidad{
        margin-left: 70%;
        margin-top: 6%;
        h3{
            font-size: 30px;
        }
        svg{
            width: 45px;
            height: 45px;
        }

    }
    .comprar{
        position: none;
        bottom: 22%;
        left: 50%;
        width: fit-content;
        height: 10%;
        align-items: center;
       
        
    }
}